@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}
body{
    background-color: black;
}
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-bottom: #3BA1CD 1px solid;
}
.banner-content{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    color: white;
}
.banner h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}
.banner p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    text-align: justify;
    line-height: 23.48px;
    text-wrap: wrap;
    margin: 16px 0 24px;
}
.banner logo{
    width: 268px;
    height: 268px;
    border-radius: 50%;
    margin: auto;
    background-color: #00000002;
}
.banner logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.banner button{
    border: 2px solid #33A8DB;
    border-image: repeat;
    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: transparent;
    background: -webkit-linear-gradient(#3BA1CD, #1572B7);
    background-clip: text;
    -webkit-background-clip: text;
    padding: 10px 90px;
}

#course-content{
    width: 800px;
    height: 325px;
    color: white;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
}
h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    height: 38px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
    display: block;
    color: #33A8DB;
    margin-bottom: 20px;
    margin-top: 10px;
}
#course-content p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 20px;
}
#course-content .modules-list{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.module{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 120px;
    width: 500px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    border-radius: 50px;
    margin-bottom: 7px;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
}
#transform-world{
    height: 400px;
    background-size: cover;
    color: white;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
}
#transform-world p{
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    margin-bottom: 20px;
    text-shadow: #33A8DB 3px 2px;
    font-family: 'Raleway', sans-serif;
    margin-left: 70px;
    padding: 140px;
    max-width: 300px;
}
#professional-challenges{
    height: 700px;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: #3BA1CD 1px solid;
    border-bottom: #3BA1CD 1px solid;
}
#professional-challenges img{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
#professional-challenges h2{
    padding: 20px;
    max-width: 600px;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#professional-challenges p{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 18px;
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
}

footer{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    background-image: linear-gradient(black, black, #33A8DB69);
}
footer a{
    color:#33A8DB;
    text-decoration: none;
    font-weight: 700;
}